<div class="p-6 space-y-8 bg-white rounded-xl shadow-sm">
  <app-progress-indicator-reg 
    [currentStep]="step" 
    [totalSteps]="4">
  </app-progress-indicator-reg>  
  
  <app-account-creation 
    *ngIf="step === 1"
    (submitted)="handleAccountCreationSubmit($event)"
    (stepChange)="step = $event"
    (roleChange)="setRole($event)">
  </app-account-creation>

  <app-personal-info-reg 
    *ngIf="step === 2"
    [step]="step"
    (submitted)="handlePersonalInfoSubmit($event)"
    (stepChange)="step = $event">
  </app-personal-info-reg>

  <app-identity-verification 
    *ngIf="step === 3"
    [selectedRole]="selectedRole"
    (submitted)="handleIdentityVerificationSubmit($event)">
  </app-identity-verification>

  <app-investment-preference 
    *ngIf="step === 4"
    [selectedRole]="selectedRole"
    (submitted)="handleInvestmentPreferenceSubmit($event)">
  </app-investment-preference>
</div>
